{% extends "_base.html" %}
{% block title %}home{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                {% for post in posts_list_last %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">{{ post.datetime_created }}</h6>
                            <p class="card-text py-3">
                                {{ post.text }}
                            </p>
                            <div  class="btn btn-sm btn-success"><a href="{% url 'detail_page' post.id %}">Read More</a>
                        </div>
                    </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="col-3">


        </div>
    </div>
    </div>









{% endblock content %}